<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LayoutTemplateWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LayoutTemplateWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #E6F2FB;">

            <div class="container-fluid align-middle">
                <div class="align-middle">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        @* //This could be the link to the inicial app page *@
                        <i class="bi bi-mortarboard-fill"></i>
                        Menu Principal
                    </a>
                </div>
               
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    @{

                        var showApplications = false;
                        var loginActive = Context.Request.Path.Value.Contains("/Login");
                        bool isLoggedIn = false;
                        if (Context.Request.Cookies.ContainsKey("email"))
                        {
                            var cookie = Context.Request.Cookies["email"];
                            if (cookie != "")
                            {
                                isLoggedIn = true;
                            }
                        }

                        var applicationMenuActive = Context.Request.Path.Value.Contains("/ApplicationMenu");
                        var option1IsActive = Context.Request.Path.Value.Contains("/Option1");
                        var option2IsActive = Context.Request.Path.Value.Contains("/Option2");
                        var chooseUser = Context.Request.Path.Value.Contains("/Choose");
                        var createUserIsActive = Context.Request.Path.Value.Contains("/Create");
                    }

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (isLoggedIn)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(loginActive ? "activeNav" : "")" asp-area="" asp-page="/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(loginActive ? "activeNav" : "")" asp-area="" asp-page="/ApplicationMenu">Applications</a>
                            </li>
                        }
                        
                    </ul>
                </div>
                <!-- Accesibility Icons -->
                <div class="text-center align-middle text-black mx-1">
                    <!-- Interactive icons represented as buttons -->
                    <button id="highContrast" class="icon-button bi bi-brightness-high-fill" aria-label="Alto constraste" style="cursor: pointer;" onclick="applyHighContrast()">
                    </button>
                    <button id="zoom-icon" class="icon-button bi bi-zoom-in" aria-label="Aumentar Tamaño de letra" style="cursor: pointer;" onclick="zoomIn()">
                    </button>
                    <button id="zoom-icon" class="icon-button bi bi-zoom-out" aria-label="Disminuir Tamaño de letra" style="cursor: pointer;" onclick="zoomOut()">
                    </button>

                </div>
                <div class="icon-Profile bg-footer text-center align-middle fs-3 text-white">
                    <a asp-page="Profile" class="bi bi-person"></a>
                </div>

            </div>
        </nav>
    </header>
       

    <div class="page d-flex flex-row bg-grayContrast">
        <aside class="site-bar bg-white">
            <form method="post">
                <ul class="d-flex flex-column gap-3 px-0 py-2">

                    @* //Aside section for Admin Gestion solicitudes *@
                    @if (!applicationMenuActive)
                    {
                        <li class="py-2 inline-nav-item ">
                            <!--<a class="aside-link" asp-area="" asp-page="Login">
                                Login
                            </a>-->
                        </li>

                    }

                    else
                    {
                    
                        <li class="py-2 inline-nav-item" >
                            <a class="bi bi-people-fill" asp-area="" asp-page="/AppCards/Cancherks">Reservacion de Canchas</a>
                        </li>
                        <li class="py-2 bg-footer inline-nav-item-nd" >
                            <a class="bi bi-people-fill" asp-area="" asp-page="/AppCards/Emparejatec">Emparejatec</a>
                        </li>
                        <li class="py-2 bg-footer inline-nav-item-nd">
                            <a class="bi bi-people-fill" asp-area="" asp-page="/AppCards/Asambleas">Asambleas Estudiantiles</a>
                        </li>
                        <li class="py-2 bg-footer inline-nav-item-nd">
                            <a class="bi bi-people-fill" asp-area="" asp-page="/AppCards/Operadores">Gestor de Operadores</a>
                        </li>
                        <li class="py-2 bg-footer inline-nav-item-nd">
                            <a class="bi bi-people-fill" asp-area="" asp-page="/AppCards/PDFPrinter">PDF Printer</a>
                        </li>
                        <li class="py-2 bg-footer inline-nav-item-nd">
                            <a class="bi bi-people-fill" asp-area="" asp-page="/AppCards/Eventos">Eventos Tec</a>
                        </li>
                        <li class="py-2 bg-footer inline-nav-item-nd">
                            <a class="bi bi-people-fill" asp-area="" asp-page="/AppCards/Integratec">Integratec</a>
                        </li>
                        <li class="py-2 bg-footer inline-nav-item-nd">
                            <a class="bi bi-people-fill" asp-area="" asp-page="/AppCards/Visualizador">Visualizador de base de datos</a>
                        </li>
                        <li class="py-2 bg-footer inline-nav-item-nd">
                            <a class="bi bi-people-fill" asp-area="" asp-page="/AppCards/Roles">Asignación de Roles</a>
                        </li>
                    
                    }
                
                </ul>
            </form>
        </aside>
        <div class="content-page w-100">
            <main role="main" class="pb-3">


                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted ">
        <div class="container">
            Información de Contacto\n Correo: andres2028@estudiantec.cr Teléfono: 2020-2020 
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> <!-- For the datepicker -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!-- For the datepicker -->

  
    @await RenderSectionAsync("Scripts", required: false)
    @{
        if (!isLoggedIn && !loginActive && !createUserIsActive && !chooseUser)
        {
            Context.Response.Redirect("Login");
        }
    }
</body>

</html>
